/* html, body {
  width:  100%;
  height: 100%;
  margin: 0;
} */

canvas{
  border: solid 2px blue;  
  width: 100%;
  height: 100%;
}

#file {
  visibility:hidden;
  width:200px;
  height:0;
}

#download {
  visibility:hidden;
  width:200px;
  height:0;
}