.box {
    box-sizing: border-box;
    width: 1121px;
    height: 80px;
    left: 50px;
    top: 860px;
    background: #FFFFFF;
    border: 1px solid #62AAFF;
}

.state {
    position: relative;
    bottom: 40px;
}