.container {
  width: 100%;
}

.stream-container {
  padding: 20px;
}

.video-container {
  justify-content: center;
  display: block;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border: 1px solid red;
}

.session-header {
  display: flex;
}

.session-body {
  display: flex;
  height: 810%;
}

.streamcomponent {
  display: flex;
  justify-content: center;
}


.chat-container {
  position: absolute;
}

#buttonToggleChat {
  position: absolute;
  bottom: 10px;
  right: 15px;
}