.container {
  width: 100%;
  height: auto;
}





.back {

  background: url("../../public/mainback2.png") center/cover;
  background-size: 100% 100%;
  width: 100%;
  height: auto;

/* 
  background: rgb(40,165,167);
  background: linear-gradient(0deg, rgba(40,165,167,1) 0%, rgba(2,20,73,1) 90%); */
}



.neon {
    display: flex;
    position: absolute;
}

.neon p{
    font-family: HancomUljuBangudae;
    color: #f7eebb;
    font-size: 6vw;
    line-height: 9vw;
    text-shadow: 0 0 2vw #f8ecee;
    align-content: center;

    animation: neon 4s ease infinite;
  -moz-animation: neon 4s ease infinite;
  -webkit-animation: neon 4s ease infinite;
}

@font-face {
    font-family: 'HancomUljuBangudae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/HancomUljuBangudae.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes neon {
    0%,
    100% {

      color: #fdde6c;
    }
    50% {
      /* text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A; */
      color: #ac8c1b;
    }
  }
  