.time_header{
    width: 100%;
    border-bottom: 2px dotted;
    margin-bottom: 10px;
}

.timeline{
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.time_label input{
    display: none;
}

.time_label input+span{
    display: inline-block;
    margin: 5px;
    padding: 3px;
    border: 3px solid #62AAFF;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 17px;
    cursor: pointer;
}

.time_label input:checked+span{
    background-color: #62AAFF;
    color: white;
}

.reserved input+span{
    border: 3px solid gray;
    background-color: #D3D3D3;
    pointer-events: none;
}

.rsvBtn{
    border-radius: 10px;
    background-color: #62AAFF;
    color: white;
    font-size: 22px;
}